.header {
    background: $header-main-color;
    height: $header-height;
    padding-left: 50px;

    &_inner {
        @include flex(center, left);
        height: 100%;
    }

    &_logo {
        height: 96%;
        margin-right: 20px;
        img {
            height: 100%;
        }
    }

    &_nav {
        @include flex(center, right);
        height: 100%;

        &_items ~ &_items {
            margin-left: 1rem;
        }
        span {
            display: inline-block;
            padding: 0.5rem;
            text-transform: uppercase;
            position: relative;
            pointer-events: visible;
            color: aliceblue;

            &::before,
            &::after {
                content: '';
                position: absolute;
                height: 2px;
                width: 0;
                background-color: $main-color;
                transition: width 0.3s ease;
            }

            &:hover {
                color: $main-color;
            }

            &:hover::after {
                width: 100%;
            }

            &::after {
                right: 0;
                bottom: 0;
            }
        }
    }

    &_login {
        @include flex(center, right);
    }
}
